.mat-toolbar {
  height: 45px;
  margin-top: -10px;
}

.searchField {
  width: 85%;
  margin-left: 50px;
  margin-right: 10px;
  height: 20px;
  font-size: 16px;
}

.example-card {
  max-width: 250px;
}

.button {
  margin-left: 15px;
}

.gif {
  float: left;
  margin: 20px;
  padding: 10px;
}

.container {
  height: 500px
}

.outer-container {
  overflow: hidden;
}

.gif-container {
  width: 100%;
  display: block;

}

.example-button-row {
  display: table-cell;
}

.outer-container-words {
  display: table;
  margin-left: 2%;
}

.words-button {
  margin: 5px;
}
