<div class="outer-container">
  <p>
    <mat-toolbar>
      <span>Trending Gif Application</span>
    </mat-toolbar>
  </p>

  <p>
    <mat-toolbar color="primary">
      <input matInput placeholder="Search Gif" class="searchField" [(ngModel)]="searchTerm"
        (keyup)="getGifBySuggestion()">
      <button mat-raised-button color="accent" (click)="getSearchTerm()">Search Gif</button>
    </mat-toolbar>
  </p>

  <div *ngFor="let words of predictedWords">
    <mat-card class="predictedWords" (click)="getSelectedWord(words)">
      <span>{{words}}</span>
    </mat-card>
  </div>

  <cdk-virtual-scroll-viewport itemSize='6' class="container">
    <div class="gif" *cdkVirtualFor="let item of gifData">
      <mat-card class="example-card">
        <img mat-card-image src={{item.media[0].nanogif.url}} alt="gif">
      </mat-card>
    </div>
  </cdk-virtual-scroll-viewport>
</div>