<div class="outer-container">
  <p>
    <mat-toolbar>
      <span>Trending Gif Application</span>
    </mat-toolbar>
  </p>

  <p>
    <mat-toolbar color="primary">
      <input matInput placeholder="Search Gif" class="searchField" [(ngModel)]="searchTerm"
        (keyup)="getGifBySuggestion()">
      <button mat-raised-button color="accent" (click)="getSearchTerm()">Search Gif</button>
    </mat-toolbar>
  </p>

  <div class="outer-container-words">
    <div class="example-button-row">
      <button mat-raised-button color="primary" *ngFor="let words of predictedWords" class="words-button"
        (click)="getSelectedWord(words)">{{words}}</button>
    </div>
  </div>


  <div class="gif-container">
    <cdk-virtual-scroll-viewport itemSize='6' class="container">
      <div class="gif" *cdkVirtualFor="let item of gifData">
        <mat-card class="example-card">
          <img mat-card-image src={{item.media[0].nanogif.url}} alt="gif">
        </mat-card>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</div>